* {font-family: "Arial"; }
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
ul {
    padding-top: 0;
    margin-top: 0;
    padding-left: 20px;
}
li {
    list-style-type: square;
    /* padding-left: 0; */
    /* margin-left: 0px !important; */
}
.clearboth {clear:both;}
.clearfix:after {
   content: ""; 
   display:table; 
   text-indent: -999em;
   height: 0px;
   visibility: hidden;
}
.container {/* height:680px; */width: 100%;}
.col1, .col2, .col3, .col4, .col5 {float:left; width:150px; margin-right:10px}
.col4 {
    min-height: 660px;
}
.column-narrow {
    width: 150px !important;
    margin-top: 10px;
    padding: 0 5px 0 5px;
}
.col1.first, .col1.last {width:300px;}
.header {background: rgb(5,110,255);  float:left; margin-right:10px; color:white; font-weight:bold; /* margin-bottom:10px; */ width: 100%; height:30px; text-align: center; padding-top: 10px;padding-bottom: 30px;}
.bg-gray {background:gray; color:white;}
.bg-purple {background: #ad005b; color:white;}
.bg-lightblue {background: #00adef; color:white;}
.inner-col1-row1 {
}
.inner-col1-col1, .inner-col5-col1 {float: left; width: 148px;  height:400px;border: 1px dashed black;margin-top: 10px;}
.inner-col5-col1 {width: 148px;}
.inner-col1-row1, .inner-col2-row1 {height:134px}
.inner-col1-row1,.inner-col1-row2, .inner-col1-row3 {float: left; /* margin-bottom:10px; */ }
.inner-col2-row1, .inner-col2-row2, .inner-col2-row3 {
    width: 300px;
}
.inner-col2-row1, .inner-col3-row1, .inner-col3-row1, .inner-col4-row1 {height:134px}
 .hidden-desktop {visibility: hidden; height: 30px;}

 li.span3-col {
    width: 470px;
    z-index: 9999;
    position: relative;
    text-align: center;
    list-style-type: none;
    border-bottom: 1px dashed white;
    left: -25px;
    margin-bottom: 10px;
    height: 30px;
}
li.span2-col {
    width: 265px;
    /* background-color: gray; */
    z-index: 99;
    position: relative;
}

li.span2-col.no-border {
    border: none;
}
li.span2-col.wide.bulleted {
    text-align: left;
    padding-right: 30px;
    margin-left: 30px;
    width: 280px;
    height: auto;
    list-style-type: square;
}
.border-top {
    border-top: 1px dashed white;
}
.border-bottom {
	border-bottom: 1px dashed white;
}

li.span2-col.wide {
    position: relative;
    left: -25px;
    text-align: center;
    height: 32px;
    padding-top: 6px;
    list-style-type: none;
    width: 310px;
}

.row2-fixed-height { height: 200px; }
.row3-fixed-height { height: 250px; }
.edge-fixed-height {height:604px;}
.bottom {position:relative; bottom: -32px;}
.extra-wide {width:310px !important;}
sub li {list-style-type: none;}

.circles {
    width: 130px;
    height: 680px;
    float: left;
    margin-top: 50px;
}

.circle1, .circle2, .circle3 {
    
    width: 110px;
    height: 110px;
    margin-bottom: 70px;
    border-radius: 110px;
}

.circles span {
    font-size: 18px;
    width: 100px;
    display: block;
    position: relative;
    top: 60px;
    left: 5px;
    text-align: center;
}

/*** Responsive styles ***/

/* IPAD 3 and 4 */
@media only screen 
  and (min-device-width: 568px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
  
.circles {display: none;}
}

/** iphone **/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .circles {display: none;}
    .container {width:320px;}
    li.span2-col.wide {
    position: relative;
    left: 0;
    text-align: left;
    height: auto;
    padding-top: 0;
    list-style-type: square;
    width: auto;
    }
    .border-bottom {
        border:none;
    }
     li.span3-col {
    width: auto;
    z-index: 1;
    position: relative;
    text-align: left;
    list-style-type: square;
    border-bottom:none;
    left: 0px;
    margin-bottom: 10px;
    height: auto;
    }
    
    li.span2-col {
    width: auto;
    z-index: 1;
    position: relative;
    }
    .hidden-desktop { visibility: visible; height: auto;}

    .inner-col2-row1, .inner-col3-row1, .inner-col3-row1, .inner-col4-row1{height: auto;}
    .row2-fixed-height {height: auto;}
    .border-top {border:none;}
    .bottom {bottom:0;}
    .extra-wide {
      width: auto !important;
    }
    .row3-fixed-height {
      height: auto;
    }
    .inner-col2-row3.row3-fixed-height {height:250px;}
    li.span2-col.wide.bulleted {
        padding-right: 0;
        margin-left: 0;
        width: auto;
        
    }
    .edge-fixed-height {
        height: 352px;
    }
    .footnotes sub li { font-size:12px;}
}

@media (min-width:320px) and (max-width: 568px) {
    .container {width:320px; margin:0 auto;}
    .circles {display: none;}
    li.span2-col.wide {
    position: relative;
    left: 0;
    text-align: left;
    height: auto;
    padding-top: 0;
    list-style-type: square;
    width: auto;
    }
    .border-bottom {
        border:none;
    }
     li.span3-col {
    width: auto;
    z-index: 1;
    position: relative;
    text-align: left;
    list-style-type: square;
    border-bottom:none;
    left: 0px;
    margin-bottom: 10px;
    height: auto;
    }
    
    li.span2-col {
    width: auto;
    z-index: 1;
    position: relative;
    }
    .hidden-desktop { visibility: visible; height: auto;}

    .inner-col2-row1, .inner-col3-row1, .inner-col3-row1, .inner-col4-row1{height: auto;}
    .row2-fixed-height {height: auto;}
    .border-top {border:none;}
    .bottom {bottom:0;}
    .extra-wide {
      width: auto !important;
    }
    .row3-fixed-height {
      height: auto;
    }
    .inner-col2-row3.row3-fixed-height {height:250px;}
    li.span2-col.wide.bulleted {
        padding-right: 0;
        margin-left: 0;
        width: auto;
        
    }
    .edge-fixed-height {
        height: 352px;
    }
    .footnotes sub li { font-size:12px;}
  }

  @media (min-width:569px) and (max-width: 768px) { 

    li.span2-col.wide {
    position: relative;
    left: 0;
    text-align: left;
    height: auto;
    padding-top: 0;
    list-style-type: square;
    width: auto;
    }
    .border-bottom {
        border:none;
    }
     li.span3-col {
    width: auto;
    z-index: 1;
    position: relative;
    text-align: left;
    list-style-type: square;
    border-bottom:none;
    left: 0px;
    margin-bottom: 10px;
    height: auto;
    }
    
    li.span2-col {
    width: auto;
    z-index: 1;
    position: relative;
    }
    .hidden-desktop { visibility: visible; height: auto;}

    .inner-col2-row1, .inner-col3-row1, .inner-col3-row1, .inner-col4-row1{height: auto;}
    .row2-fixed-height {height: auto;}
    .border-top {border:none;}
    .bottom {bottom:0;}
    .extra-wide {
      width: auto !important;
    }
    .row3-fixed-height {
      height: auto;
    }
    .inner-col2-row3.row3-fixed-height {height:auto;}
    li.span2-col.wide.bulleted {
        padding-right: 0;
        margin-left: 0;
        width: auto;
        
    }
    .edge-fixed-height {
        height: 352px;
    }
    .footnotes sub li { font-size:12px;}
  }
  

  @media (min-width:769px) and (max-width: 1024px) { 
     li.span2-col.wide {
    position: relative;
    left: 0;
    text-align: left;
    height: auto;
    padding-top: 0;
    list-style-type: square;
    width: auto;
    }
    .border-bottom {
        border:none;
    }
     li.span3-col {
    width: auto;
    z-index: 1;
    position: relative;
    text-align: left;
    list-style-type: square;
    border-bottom:none;
    left: 0px;
    margin-bottom: 10px;
    height: auto;
    }
    
    li.span2-col {
    width: auto;
    z-index: 1;
    position: relative;
    }
    .hidden-desktop { visibility: visible; height: auto;}

    .inner-col2-row1, .inner-col3-row1, .inner-col3-row1, .inner-col4-row1{height: auto;}
    .row2-fixed-height {height: auto;}
    .border-top {border:none;}
    .bottom {bottom:0;}
    .extra-wide {
      width: auto !important;
    }
    .row3-fixed-height {
      height: auto;
    }
    .inner-col2-row3.row3-fixed-height {height:auto;}
    li.span2-col.wide.bulleted {
        padding-right: 0;
        margin-left: 0;
        width: auto;
        
    }
    .edge-fixed-height {
        height: 352px;
    }
    .footnotes sub li { font-size:12px;}
  }
  }